:root {
  --vh: 1vh;
  --preloader-time: '500ms';
}

* {
  font-family: Georgia, "Times New Roman";
  font-size: 20px;
  cursor: default;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  padding: 30px 10px;
  font-size: 40px;
}

@media screen and (max-height: 400px) {
  .title {
    display: none;
  }
}

.answer {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
  user-select: auto;
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  transition: var(--preloader-time);
}

.preloader-image {
  width: 100px;
  height: 100px;
  margin: 25px 10px;
  animation: 2s infinite ease-in-out paint;
}

.preloader-joke {
  text-align: center;
  padding: 0 10px;
}

.button-theme {
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

.button-theme:hover {
	background-color: #f6f6f6;
}

.button-theme:active {
	position: relative;
	top: 1px;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

@keyframes paint {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-25px, 25px);
  }
  40% {
    transform: translate(0, 0);
  }
  50% {
    transform: rotate(22.5deg);
  }
  70% {
    transform: translate(-23px, 9.5px) rotate(22.5deg);
  }
  90% {
    transform: translate(0, 0) rotate(22.5deg);
  }
  100% {
    transform: rotate(0);
  }
}